<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../lib/angular.min.js"></script>
    <script src="../lib/angular-route.js"></script>
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
</head>
<body ng-app="myApp" >
    <form  name="myForm" action="/angular.php" style="margin-top: 30px;" ng-controller="firstController" class="container form-horizontal">
        <!-- type=text -->
        <div class="form-group" ng-class="{'has-error':myForm.username.$dirty && myForm.username.$invalid}">
            <label class="col-sm-2 control-label">用户名</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="username" autocomplete="false" ng-pattern="/^[a-zA-Z]{1}/" ng-required="true" ng-minlength="5" ng-maxlength="10" ng-model="data.username" placeholder="用户名">
                <div ng-show="myForm.username.$error.maxlength" class="alert alert-danger help-block">
                    用户名长度不能超过10位
                </div>
                <div ng-show="myForm.username.$error.minlength" class="alert alert-danger help-block">
                    用户名长度不能小于5位
                </div>
                <div ng-show="myForm.username.$error.pattern" class="alert alert-danger help-block">
                    用户名必须以英文字母开始
                </div>
            </div>
            {{myForm.username.$error}}
        </div>

        <!-- password  -->
        <div class="form-group" ng-class="{'has-error':myForm.password.$dirty && myForm.password.$invalid}">
            <label class="col-sm-2 control-label">密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" autocomplete="false" ng-pattern="/^[a-zA-Z]{1}/" ng-required="true" ng-minlength="5" ng-maxlength="10" ng-model="data.password" placeholder="输入密码">
                <div ng-show="myForm.password.$error.maxlength" class="alert alert-danger help-block">
                    密码长度不能超过10位
                </div>
                <div ng-show="myForm.password.$error.minlength" class="alert alert-danger help-block">
                    密码长度不能小于5位
                </div>
                <div ng-show="myForm.password.$error.pattern" class="alert alert-danger help-block">
                    密码必须以英文字母开始
                </div>
            </div>
            {{myForm.password.$error}}
        </div>


        <!-- confirmPassword   blog   email -->
        <div class="form-group" ng-class="{'has-error':myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid}">
            <label class="col-sm-2 control-label">确认密码</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="confirmPassword" autocomplete="false" ng-required="true"  ng-model="data.confirmPassword" placeholder="确认密码">
                <div ng-show="myForm.password.$dirty && myForm.confirmPassword.$dirty && data.confirmPassword != data.password" class="alert alert-danger help-block">
                    密码和确认密码不一致
                </div>
            </div>
        </div>
        {{myForm.confirmPassword.$error}}


        <!--  email -->
        <div class="form-group" ng-class="{'has-error':myForm.email.$dirty && myForm.email.$invalid}">
            <label class="col-sm-2 control-label">邮箱</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" autocomplete="false"  ng-required="true"  ng-model="data.email" ng-minlength="5" ng-maxlength="30"  placeholder="输入邮箱地址">
                <div ng-show="myForm.email.$error.minlength" class="alert alert-danger help-block">
                    邮箱长度不能小于5位
                </div>
                <div ng-show="myForm.email.$error.maxlength" class="alert alert-danger help-block">
                    邮箱长度不能大于30位
                </div>
                <div ng-show="myForm.email.$error.email" class="alert alert-danger help-block">
                    邮箱格式不对
                </div>
            </div>
        </div>
        {{myForm.email.$error}}

        <!--  url -->
        <div class="form-group" ng-class="{'has-error':myForm.blog.$dirty && myForm.blog.$invalid}">
            <label class="col-sm-2 control-label">博客网址</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" name="blog" autocomplete="false"  ng-required="true"  ng-model="data.blog" ng-minlength="5" ng-maxlength="30"  placeholder="博客网址">
                <div ng-show="myForm.blog.$error.minlength" class="alert alert-danger help-block">
                    网址长度不能小于5位
                </div>
                <div ng-show="myForm.blog.$error.maxlength" class="alert alert-danger help-block">
                    网址长度不能大于30位
                </div>
                <div ng-show="myForm.blog.$error.url" class="alert alert-danger help-block">
                    网址格式不对
                </div>
            </div>
        </div>
        {{myForm.blog.$error}}
        <!-- 性别 -->
        <!-- radio checkbox选择框无法获取校验 ？？？？ -->
        <div class="form-group">
            <label class="col-sm-2 control-label">性别</label>
            <div class="col-sm-10">
                <label class="radio-inline">
                    <input type="radio" name="sex" ng-required="true"  ng-model="data.sex" value="1"  />男
                </label>
                <label class="radio-inline">
                    <input type="radio" name="sex" ng-model="data.sex" value="0"  />女
                </label>
            </div>
        </div>

         <!-- 爱好 -->
        <div class="form-group">
            <label class="col-sm-2 control-label">爱好</label>
            <div class="col-sm-10">
                <label class="checkbox-inline" ng-repeat="hobby in hobbies">
                    <input type="checkbox" name="hobby[]" value="hobby.id"  ng-checked="data.hobbies.indexOf(hobby.id) !== -1"  ng-click="toggleHobbyselect(hobby.id)"  />{{hobby.name}}{{hobby.id}}
                </label>
            </div>
        </div>

        <!-- number -->
        <div class="form-group" ng-class="{'has-error':myForm.age.$dirty && myForm.age.$invalid}">
            <label class="col-sm-2 control-label">年龄</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="age" autocomplete="false"  ng-required="true"  ng-model="data.age" min="0" max="99"  placeholder="年龄">
                <div ng-show="myForm.age.$error.min" class="alert alert-danger help-block">
                    年龄不小于0岁
                </div>
                <div ng-show="myForm.age.$error.max" class="alert alert-danger help-block">
                    年龄不能大于99岁
                </div>
            </div>
        </div>

        <!-- 三级联动 -->
        <div class="form-group">
            <label class="col-sm-2 control-label">出生地</label>
            <div class="col-sm-3">
                <select class="form-control" ng-model="data.province" ng-options="x.id as x.name for x in cities | cityFilter:0"></select>
            </div>

            <div class="col-sm-3">
                <select class="form-control" ng-model="data.area" ng-show="data.province" ng-options="x.id as x.name for x in cities | cityFilter:data.province"></select>
            </div>

            <div class="col-sm-3">
                <select class="form-control" ng-model="data.city" ng-show="data.area" ng-required="true"  ng-options="x.id as x.name for x in cities | cityFilter:data.area"></select>
            </div>
        </div>

        <!-- 自定义表单，ngModel属性 -->
        <div class="form-group">
            <label class="col-sm-2 control-label">只能输入偶数</label>
            <div class="col-sm-10">
                <input type="text" name="even" even class="form-control" placeholder="偶数" ng-model="data.even" >
                <div ng-show="myForm.even.$error.even" class="alert alert-danger help-block">
                    数字必须是偶数
                </div>
            </div>
        </div>

        {{myForm.even.$error.even}}

        <!-- 自定义表单，ngModel属性, 自定义指令-->
        <div class="form-group">
            <label class="col-sm-2 control-label">个人介绍</label>
            <div class="col-sm-10">
                <customer-text-area ng-model="data.introduct"></customer-text-area>
                <!-- <div ng-show="myForm.even.$error.even" class="alert alert-danger help-block">
                    数字必须是偶数
                </div> -->
            </div>
        </div>
        {{data.introduct}}





        <!-- submit  reset -->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <input type="submit" class="form-control" ng-disabled="myForm.$invalid"  value="注冊">
            </div>
            <div class="col-sm-3">
                <!-- <input type="reset" class="form-control"   value="重置"> -->
                <input type="button" class="form-control" ng-click="resetFunc()"  value="重置">
            </div>
        </div>
        {{myForm.$invalid}}

    </form>

    <script src="./index.js"></script>
</body>
</html>